*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Container */
#container{
    display: flex;
    justify-content: center;
}


/* Wallpaper */
#container #top-wallpaper{
    position: absolute;
    background-image: url("../assets/Background.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 580px;
    width: 100%;
    z-index: 1;
}


/* Top Content */
#container #top-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 24px 64px 24px 64px;
    gap: 24px;
}

#container #top-content #category{
    gap: 18px;
    display: flex;
    align-items: center;
}

#container #top-content #category img{
    width: 100px;   
    height: 50px;
}

#container #top-content #category button{
    background-color: transparent;
    color: white;
    border: none;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    width: 140px;
    height: 50px;
}

#container #top-content #category button:hover{
    background-color: rgba(88, 88, 88, 0.85);
    border-radius: 10px;
}

#container #top-content #login-support{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 36px;
}

#container #top-content #login-support a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 100px;
    height: 50px;
    background-color: transparent;
    color: white;
    font-size: 20px;
    cursor: pointer;
    font-weight: 600;
}

#container #top-content #login-support a:hover{
    background-color: rgba(88, 88, 88, 0.85);
    border-radius: 10px;
}


/* Bottom Content */
#container #bottom-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;
    margin-top: 6rem;
    gap: 18px;
}

#container #bottom-content h3{
    font-size: 40px;
    font-weight: 700;
}

#container #bottom-content p{
    font-size: 20px;
    font-weight: 400;
}


/* Search Panel */
#container #search-panel{
    display: flex;
    justify-content: center;
    padding-top: 0.5rem;
    width: 1200px;
    height: 120px;
    margin-top: 32.5rem;
    border-radius: 20px;
    background-color:#8F8F8F;
    z-index: 2;
}

#container #search-panel form{
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin-top: 0.8rem;
}

#container #search-panel form label{
    margin-bottom: 0.8rem;
}

#container #search-panel form button{
    background-color: black;
    margin-left: 36px;
    height: 80px;
    width: 80px;
    border-radius: 15px;
    cursor: pointer;
    border: none;
}

#container #search-panel form .form-content{
    display: flex;
    flex-direction: column;
    color: white;
}

#container #search-panel form .form-content select{
   border: none;
   border-bottom: 2px solid white;
   color: white;
   font-size: 18px;
   font-weight: bold;
   background-color: transparent;
   outline: none;
}

#container #search-panel form .form-content option{
    color: black;
}

#container #search-panel form .form-content #looking{
    width: 15rem;
}

#container #search-panel form .form-content #in{
    width: 15rem;
}

#container #search-panel form .form-content #when{
    width: 25rem;
}


/* Event Page */

#event-page{    
    padding: 6rem;
}

#event-page #title{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 52rem;
}

#event-page #title a{
    text-decoration: none;
    color: red;
    font-size: 20px;
}

#event-page #event-list{
    display: flex;
    flex-direction: column;
}

#event-page #event-list #row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
    padding: 3rem;
}

#event-page #event-list #row .event-card{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

#event-page #event-list #row .event-card .event-info{
    padding: 16px;
}

#event-page #event-list #row .event-card .event-info p{
    font-size: 14px;
}

#event-page #event-list #row .event-card .event-info #date{
    display: flex;
    flex-direction: row;
    gap: 36px;
}

#event-page #event-list #row .event-card .event-info #date #date-left{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4px;
}

#event-page #event-list #row .event-card .event-info #date #date-left #month{
    color: red;
    font-size: 18px;
}

#event-page #event-list #row .event-card .event-info #date #date-right #city{
    font-size: 10px;
}

#event-page #event-list #row .event-card .event-info #date #date-right{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 1rem;
}


#event-page #event-list #row .event-card .event-info #maker{
    padding-top: 4rem;
    display: flex;
    justify-content: center;
}


/* Footer */

footer{
    display: flex;
    flex-direction: row;
    padding: 2rem;
    justify-content: center;
    gap: 35rem;
    border-top: 1px solid rgba(145, 145, 145, 0.7);
    margin-left: 8rem;
    margin-right: 8rem;
    margin-bottom: 2rem;
}

footer #copyright{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

footer #privacy-terms{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 72px;
}

footer #privacy-terms a{
    text-decoration: none;
    cursor: pointer;
}


/* Media screen */
@media only screen and (max-width: 1200px) {

    #container #search-panel{   
        width: 80%;
        height: 100%;
        justify-content: left;
        margin-top: 34rem;
        margin-bottom: 2rem;
        padding-bottom: 1.75rem;
        padding-top: 1.75rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    #container #search-panel form{
        flex-direction: column;
        font-size: 14px;
        width: 100%;
    }

    #container #search-panel form .form-content #looking{
        width: 100%;
    }

    #container #search-panel form .form-content #in{
        width: 100%;
    }

    #container #search-panel form .form-content #when{
        width: 100%;    
    }

    #container #search-panel form button{
        margin-left: 0;
    }

    #event-page #event-list #row{
       flex-direction: column;
    }

    footer{
        flex-direction: column;
        gap: 16px;
    }

    #container #top-wallpaper #top-content #category{
        flex-direction: column;
    }

    #container #top-wallpaper #top-content #login-support{
        flex-direction: column;
    }

}