*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Container */
#container{
    display: flex;
    justify-content: center;
}


/* Wallpaper */
#container #top-wallpaper{
    position: absolute;
    background-image: url("../assets/Background.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 580px;
    width: 100%;
    z-index: 1;
}


/* Top Content */
#container #top-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 24px 64px 24px 64px;
    gap: 24px;
}

#container #top-content img{
    width: 100px;   
    height: 50px;
}

#container #top-content #home{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 100px;
    height: 50px;
    background-color: transparent;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

#container #top-content #home:hover{
    background-color: rgba(88, 88, 88, 0.85);
    border-radius: 10px;
}


/* Bottom Content */
#container #bottom-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;
    margin-top: 6rem;
    gap: 18px;
}

#container #bottom-content h3{
    font-size: 40px;
    font-weight: 700;
}

#container #bottom-content p{
    font-size: 20px;
    font-weight: 400;
}

/* Register */
#container #register-page{
    display: flex;
    flex-direction: column;
    background-color: white;
    z-index: 2;
    width: 548px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 24px;  
    border-radius: 25px;
    margin-top: 6rem;
    margin-bottom: 4.5rem;
    gap: 8px;
}

#container #register-page #top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-top: 2rem;
}

#container #register-page #top h2{
    font-size: 30px;
}

#container #register-page #top a{
    color: red;
    font-size: 15px;
}

#container #register-page #top p{
    font-size: 15px;
}

#container #register-page form{
    display: flex;
    flex-direction: column;
    padding: 24px;
    gap: 20px;
}

#container #register-page form .form-content{
    display: flex;
    flex-direction: column;
}

#container #register-page form .form-content label{
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

#container #register-page form .form-content input{
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    height: 39px;
    width: 100%;
    padding-left: 0.5rem;
}

#container #register-page form .form-content #password-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 24px;
}

#container #register-page form .form-content #password-box .password{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

#container #register-page form .form-content #password-box .password #password-field{
    display: flex;
    justify-content: column;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    gap: 12px;
}

#container #register-page form .form-content #password-box .password #password-field input{
    border: none;
    outline: none;
}

#container #register-page form .form-content #password-box .password #password-field #eye{
    padding-right: 0.7rem;
    padding-top: 0.5rem;
}

#container #register-page form .form-content #password-box .password #password-field #eye2{
    padding-right: 0.7rem;
    padding-top: 0.5rem;
}

#container #register-page form #checkbox{
    display: flex;  
    flex-direction: row;
    gap: 10px;
    align-items: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

#container #register-page form #checkbox input{
    accent-color: red;
    width: 21px;
    height: 20px;  
}

#container #register-page form #checkbox p{
    font-size: 15px; 
}

#container #register-page form #checkbox a{
    font-size: 15px; 
    color: red;
}

#container #register-page form #register{ 
    background: red;
    border-radius: 10px;
    height: 58px;
    color: white;
    font-weight: 700;
    font-size: 25px;
    border: none;
}


/* Media screen */
@media only screen and (max-width: 600px) {

    #container #register-page{
        width: 380px;
    }
    
}