*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#container {
    margin: 3.0rem 5.5rem;
    display: flex;
    justify-content: space-between;
  
}

#left {
    display: flex;
    gap: 3.0rem;
    align-items: center;
}

#logo {
    width: 110px;
    height: 50px;
    margin-top: 5px;
}





.search-bar {
    height: 40px;
    width: 300px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    display: flex;
    padding: 0  1.0rem;
    border: 1px solid #AAAAAA;
    box-shadow: 0 4px 2px 0 rgba(121, 121, 121, 0.2), 0 6px 2px 0 rgba(0, 0, 0, 0.19);
}

.search-bar i {
    display: flex;
    align-items: center;
}

input[type=text]{
   height: 30px;
   margin: 5px 0.6rem;
   font-size: 15px;
   border: none;

}

input[type=text]:focus {
    outline:none;
 
}

#mid {
    display: flex;
    align-items: center;
}

#nav-menu {
    display: flex;
    gap: 5.0rem;
    
   
}

li {
    list-style-type: none;
    
    
}

a {
    color: black;
    text-decoration: none;
    font-size: 20px;
}


nav  {
    background-color: #ffffff;
    height: 100px;
    width: 100%;
    padding-bottom: 5.5rem;
    border-bottom: 1px solid #A1A1A1;
}

#right {
    display: flex;
    align-items: center;
    gap: 4.0rem;
    position: relative;

    
 
}


#profile {
    width: 50px;
    height: 50px;
}

#nav-menu li a{
    font-size: 18px;
}

#eventList-container {
    margin: 4.5rem 7.0rem 9.5rem 7.0rem;
}

#eventList-container #top-part {
    display: flex;
    justify-content: space-between;
}

#sort {
    display: flex;
    gap: 1.0rem;
}

#top-part {
    margin-bottom: 2.5rem;
}

#top-part h4 {
    font-size: 30px;
}

#sort p {
    font-size: 25px;
    color: red;
    font-weight: bolder;
}

#sort img {
    width: 25px;
    height: 25px;
}

#card-container {
    display: flex;
    flex-direction: column;
    gap: 3.0rem;
}

.card {
    width: 100%;
    height: 210px;
    border-radius: 10px;
    background-color: #fcfcfc;
    border: 2px solid #0b0b0b;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 3px #a7a7a7;
}

.card img {
    height: 215.5px;
    position: relative;
    right: 0.5rem;
}


.event-desc {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 1.5rem 2.5rem;
}

#reg-btn {
    background-color: #D9D9D9;
    width: 145px;
    height: 35px;
    font-weight: bolder;
    font-size: 15px;
    border-radius: 10px;
    border: none;
}

#reg-btn:hover {
    background-color: #cccbcb;
}
.register-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 1.0rem 3.0rem; 
    justify-content: center;
}

.left-side {
    display: flex;
}


.right-side {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.cp {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    background-color: #D9D9D9;
    width: 145px;
    height: 75px;
    gap: 10px;
    padding-top: 10px;
}

.price {
    font-size: 21px;
    display: flex;
    justify-content: center;
    font-weight: 600;
}


footer{
    display: flex;
    flex-direction: row;
    padding: 2rem;
    justify-content: center;
    gap: 35rem;
    border-top: 1px solid rgba(145, 145, 145, 0.7);
    margin-left: 8rem;
    margin-right: 8rem;
    margin-bottom: 2rem;
}

footer #copyright{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

footer #privacy-terms{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 72px;
}

footer #privacy-terms a{
    text-decoration: none;
    cursor: pointer;
}
